@import "tailwindcss";

/* Print Configuration */
@media print {
  @page {
    /* This is the key for setting page margins */
    size: auto; /* or 'A4' for A4 paper */
    margin-top: 0.5in; /* Standard document margin*/
    page-break-after: always;
    page-break-before: always;
    height: 100%;
  }

  .non-printable {
    display: none;
  }

  input,
  button {
    @apply border-none text-center;
  }
  select {
    appearance: none;
  }
  * {
    @apply text-black;
  }
}
input {
  @apply text-center;
}
